<ion-header>
  <ion-toolbar>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="messages">
    <div class="messages-title"><b>Sunday, Feb 9,</b> 12:58</div>
    <div class="message message-sent message-first">
        <div class="message-content">
            <div class="message-bubble">
                <div class="message-text">Hello</div>
            </div>
        </div>
    </div>
    <div class="message message-sent message-last message-tail">
        <div class="message-content">
            <div class="message-bubble">
                <div class="message-text">How are you?</div>
            </div>
        </div>
    </div>
    <div class="message message-received message-first message-last message-tail">
        <div style="background-image:url(/assets/images/dummy/user.jpg)" class="message-avatar"></div>
        <div class="message-content">
            <div class="message-bubble">
                <div class="message-text">I am fine, thanks</div>
            </div>
        </div>
    </div>
    <div class="message message-received message-first message-last message-tail">
        <div style="background-image:url(assets/img/user.jpg)" class="message-avatar"></div>
        <div class="message-content">
            <div class="message-bubble">
                <div class="message-text">Hi there, I am also fine, thanks! And how are you?</div>
            </div>
        </div>
    </div>
    <div class="message message-sent message-first">
        <div class="message-content">
            <div class="message-bubble">
                <div class="message-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
            </div>
        </div>
    </div>
    <div class="message message-sent">
        <div class="message-content">
            <div class="message-bubble">
                <div class="message-text">Lorem ipsum</div>
            </div>
        </div>
    </div>
    <div class="message message-sent message-last message-tail">
        <div class="message-content">
            <div class="message-bubble">
                <div class="message-image">
                    <img src="assets/img/placeholder.jpg" alt="">
                </div>
            </div>
            <div class="message-footer">Delivered 2 days ago</div>
        </div>
    </div>
    <div class="message message-received message-first">
        <div style="background-image:url(assets/img/user.jpg)" class="message-avatar"></div>
        <div class="message-content">
            <div class="message-bubble">
                <div class="message-text">Nice!</div>
            </div>
        </div>
    </div>
    <div class="message message-received message-last message-tail">
        <div style="background-image:url(assets/img/user.jpg)" class="message-avatar"></div>
        <div class="message-content">
            <div class="message-bubble">
                <div class="message-text">Like it very much!</div>
            </div>
        </div>
    </div>
    <div class="message message-received message-first message-last message-tail">
        <div style="background-image:url(assets/img/user.jpg)" class="message-avatar"></div>
        <div class="message-content">
            <div class="message-bubble">
                <div class="message-text">Awesome!</div>
            </div>
        </div>
    </div>
</div>
</ion-content>
