<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title class="ion-text-center ion-margin">water</ion-title>
    <h3 class="ion-text-center">0 of 10 Glasses</h3>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center glass-wrap">
    <ion-row>
      <ion-col>
        <ion-icon name="wine" size="large" class="icon-add"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="wine" size="large" class="icon-add"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="wine" size="large" class="icon-add"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="wine" size="large" class="icon-add"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="wine" size="large" class="icon-add"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-icon name="wine" size="large" class="icon-add"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="wine" size="large" class="icon-add"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="wine" size="large" class="icon-add"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="wine" size="large" class="icon-add"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="wine" size="large" class="icon-add"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-text color="primary">
    <h3 class="ion-text-center">Awesome</h3>
  </ion-text>
  <p class="ion-text-center">Hope to see you in 60 minutes<br>for the next glass</p>
  <ion-button color="primary" expand="block" class="login ion-margin" style="--border-radius:25px">Add</ion-button>
</ion-content>