<ion-header no-border>
  <ion-toolbar color="primary">
      <ion-back-button slot="start"></ion-back-button>
    <ion-title class="ion-text-center ion-padding">Today</ion-title>

    <h3 class="ion-text-center">0 of 10000 steps</h3>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="ion-margin-start">Connect to the Application</h3>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="heart-half" size="large" class="icon-add ion-margin-end"></ion-icon>Google Fit
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      connect to google fir to access fitness data. sync data with your account
      <ion-text color="primary"><h5>Connect to Google Fit</h5></ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="heart-half" size="large" class="icon-add ion-margin-end"></ion-icon>Google Fit
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        connect to google fir to access fitness data. sync data with your account
        <ion-text color="primary"><h5>Connect to Google Fit</h5></ion-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
          <ion-card-title>
            <ion-icon name="heart-half" size="large" class="icon-add ion-margin-end"></ion-icon>Google Fit
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          connect to google fir to access fitness data. sync data with your account
          <ion-text color="primary"><h5>Connect to Google Fit</h5></ion-text>
        </ion-card-content>
      </ion-card>
      <ion-button color="primary" expand="block" class="login ion-margin" style="--border-radius:25px">Add Manual Calories</ion-button>
</ion-content>