<ion-content color="primary">
    <div class="ion-text-center ion-padding main-content">
      <p>2/5</p>
      <h1>How tall are you?</h1>
      <p>The taller you are the most calories your body needs</p>
      <img src="/assets/images/png/height.png"> 
    </div>
    <div class="bottom-fixed">
      <ion-grid>
        <ion-row><ion-col><ion-button color="light" expand="block" class="started" no-shadow (click)="router.navigate(['/dob']);">Next</ion-button></ion-col></ion-row>
      </ion-grid>
    </div>
  </ion-content>