<ion-header no-border>
  <ion-toolbar>
    <ion-title>Diet Plans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card [style.background]="'url(/assets/images/diet/diet1.jpg)'">
        <ion-card-header>
          <ion-card-title><h1>3 weeks weight loss plan</h1></ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
      <ion-card [style.background]="'url(/assets/images/diet/diet2.jpg)'">
        <ion-card-header>
          <ion-card-title><h1>3 weeks weight loss plan</h1></ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
      <ion-card [style.background]="'url(/assets/images/diet/diet3.jpg)'">
        <ion-card-header>
          <ion-card-title><h1>3 weeks weight loss plan</h1></ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
      <ion-card [style.background]="'url(/assets/images/diet/diet4.jpg)'">
        <ion-card-header>
          <ion-card-title><h1>3 weeks weight loss plan</h1></ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>

      <h2 class="ion-text-center">Any Confusion or Question?</h2>
      <ion-button color="primary" expand="block" class="login ion-margin" style="--border-radius:25px">Consult with our Specialist</ion-button>

</ion-content>
