<ion-content color="primary">
    <div class="ion-text-center ion-padding main-content">
      <p>4/5</p>
      <h1>Current Weight?</h1>
      <p>Weight will be used to calculate your weight on calorie and nutrient needs change with weight</p>
      <img src="/assets/images/png/weight.png">  </div>
    <div class="bottom-fixed">
      <ion-grid>
        <ion-row><ion-col><ion-button color="light" expand="block" class="started" no-shadow (click)="router.navigate(['/last']);">Next</ion-button></ion-col></ion-row>
      </ion-grid>
    </div>
  </ion-content>