<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-title>chat2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="messages">
<ion-item lines="none" class="left">
  <ion-avatar slot="start">
    <img src="/assets/images/png/user.jpg">
  </ion-avatar>
  <ion-text><span>This is dsfdsf dfsdf dfss</span></ion-text>
  <span class="time"></span>
</ion-item>
<ion-item lines="none" class="left">
  <ion-avatar slot="start">
    <img src="/assets/images/png/user.jpg">
  </ion-avatar>
  <ion-text><span>This is dsfdsf dfsdf dfss</span></ion-text>
</ion-item>
<ion-item lines="none" class="right">
  <ion-text slot="end"><span>This is dsfdsf dfsdf dfss</span></ion-text>
  
  <ion-avatar slot="end">
    <img src="/assets/images/png/user.jpg">
  </ion-avatar>
</ion-item>
<ion-item lines="none" class="left">
  <ion-avatar slot="start">
    <img src="/assets/images/png/user.jpg">
  </ion-avatar>
  <ion-text><span>This is dsfdsf dfsdf dfss</span></ion-text>
</ion-item>

<ion-item lines="none" class="left">
  <ion-avatar slot="start">
    <img src="/assets/images/png/user.jpg">
  </ion-avatar>
  <ion-text><span>This is dsfdsf dfsdf dfss</span></ion-text>
</ion-item>
<ion-item lines="none" class="left">
  <ion-avatar slot="start">
    <img src="/assets/images/png/user.jpg">
  </ion-avatar>
  <ion-text><span>This is dsfdsf dfsdf dfss</span></ion-text>
</ion-item>
<ion-item lines="none" class="right">
  <ion-text slot="end"><span>This is dsfdsf dfsdf dfss</span></ion-text>
  
  <ion-avatar slot="end">
    <img src="/assets/images/png/user.jpg">
  </ion-avatar>
</ion-item>
<ion-item lines="none" class="left">
  <ion-avatar slot="start">
    <img src="/assets/images/png/user.jpg">
  </ion-avatar>
  <ion-text><span>This is dsfdsf dfsdf dfss</span></ion-text>
</ion-item>

<ion-item lines="none" class="left">
  <ion-avatar slot="start">
    <img src="/assets/images/png/user.jpg">
  </ion-avatar>
  <ion-text><span>This is dsfdsf dfsdf dfss</span></ion-text>
</ion-item>
<ion-item lines="none" class="left">
  <ion-avatar slot="start">
    <img src="/assets/images/png/user.jpg">
  </ion-avatar>
  <ion-text><span>This is dsfdsf dfsdf dfss</span></ion-text>
</ion-item>
<ion-item lines="none" class="right">
  <ion-text slot="end"><span>This is dsfdsf dfsdf dfss</span></ion-text>
  
  <ion-avatar slot="end">
    <img src="/assets/images/png/user.jpg">
  </ion-avatar>
</ion-item>
<ion-item lines="none" class="left">
  <ion-avatar slot="start">
    <img src="/assets/images/png/user.jpg">
  </ion-avatar>
  <ion-text><span>This is dsfdsf dfsdf dfss</span></ion-text>
</ion-item>
</div>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-item>
    <ion-input placeholder="Type here..."></ion-input><ion-button color="primary"><ion-icon name="send"></ion-icon></ion-button>
  </ion-item> </ion-toolbar>
</ion-footer>