<ion-header no-border>
  <ion-toolbar>
    <ion-title>Recipies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides class="main-slide" pager="false" [options]="slideOpts2">
        <ion-slide>
            <ion-card class="top-card" [style.background]="'url(/assets/images/recipie/r1.jpg)'">
              <ion-card-header>
                <ion-card-title>
                    <h1>Salad & Fried <br>Egg</h1>
                </ion-card-title>
                <ion-card-subtitle>View Recipie</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card class="top-card" [style.background]="'url(/assets/images/recipie/r2.jpg)'">
              <ion-card-header>
                <ion-card-title>
                    <h1>Salad & Fried <br>Egg</h1>
                </ion-card-title>
                <ion-card-subtitle>View Recipie</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card class="top-card" [style.background]="'url(/assets/images/recipie/r1.jpg)'">
              <ion-card-header>
                <ion-card-title>
                    <h1>Salad & Fried <br>Egg</h1>
                </ion-card-title>
                <ion-card-subtitle>View Recipie</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card class="top-card" [style.background]="'url(/assets/images/recipie/r2.jpg)'">
              <ion-card-header>
                <ion-card-title>
                    <h1>Salad & Fried <br>Egg</h1>
                </ion-card-title>
                <ion-card-subtitle>View Recipie</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
        </ion-slide>
      </ion-slides>
   
    <h3 class="ion-margin-start">Breakfast</h3>
    <ion-slides pager="false" [options]="slideOpts">
        <ion-slide>
            <ion-card>
                <img src="/assets/images/recipie/r2.jpg" />
                <ion-card-header>
                  <ion-card-subtitle>Carrot Cake Yogurt Recipie</ion-card-subtitle>
                  <ion-card-title>326 cals</ion-card-title>
                </ion-card-header>
              </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="/assets/images/recipie/r1.jpg" />
                <ion-card-header>
                  <ion-card-subtitle>Carrot Cake Yogurt Recipie</ion-card-subtitle>
                  <ion-card-title>326 cals</ion-card-title>
                </ion-card-header>
              </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="/assets/images/recipie/r2.jpg" />
                <ion-card-header>
                  <ion-card-subtitle>Carrot Cake Yogurt Recipie</ion-card-subtitle>
                  <ion-card-title>326 cals</ion-card-title>
                </ion-card-header>
              </ion-card>
        </ion-slide>
      </ion-slides>
    

      <h3 class="ion-margin-start">Lunch</h3>
      <ion-slides pager="false" [options]="slideOpts">
          <ion-slide>
              <ion-card>
                  <img src="/assets/images/recipie/r1.jpg" />
                  <ion-card-header>
                    <ion-card-subtitle>Carrot Cake Yogurt Recipie</ion-card-subtitle>
                    <ion-card-title>326 cals</ion-card-title>
                  </ion-card-header>
                </ion-card>
          </ion-slide>
          <ion-slide>
              <ion-card>
                  <img src="/assets/images/recipie/r2.jpg" />
                  <ion-card-header>
                    <ion-card-subtitle>Carrot Cake Yogurt Recipie</ion-card-subtitle>
                    <ion-card-title>326 cals</ion-card-title>
                  </ion-card-header>
                </ion-card>
          </ion-slide>
          <ion-slide>
              <ion-card>
                  <img src="/assets/images/recipie/r1.jpg" />
                  <ion-card-header>
                    <ion-card-subtitle>Carrot Cake Yogurt Recipie</ion-card-subtitle>
                    <ion-card-title>326 cals</ion-card-title>
                  </ion-card-header>
                </ion-card>
          </ion-slide>
        </ion-slides>

        <h3 class="ion-margin-start">Dinner</h3>
        <ion-slides pager="false" [options]="slideOpts">
            <ion-slide>
                <ion-card>
                    <img src="/assets/images/recipie/r2.jpg" />
                    <ion-card-header>
                      <ion-card-subtitle>Carrot Cake Yogurt Recipie</ion-card-subtitle>
                      <ion-card-title>326 cals</ion-card-title>
                    </ion-card-header>
                  </ion-card>
            </ion-slide>
            <ion-slide>
                <ion-card>
                    <img src="/assets/images/recipie/r1.jpg" />
                    <ion-card-header>
                      <ion-card-subtitle>Carrot Cake Yogurt Recipie</ion-card-subtitle>
                      <ion-card-title>326 cals</ion-card-title>
                    </ion-card-header>
                  </ion-card>
            </ion-slide>
            <ion-slide>
                <ion-card>
                    <img src="/assets/images/recipie/r2.jpg" />
                    <ion-card-header>
                      <ion-card-subtitle>Carrot Cake Yogurt Recipie</ion-card-subtitle>
                      <ion-card-title>326 cals</ion-card-title>
                    </ion-card-header>
                  </ion-card>
            </ion-slide>
          </ion-slides>
</ion-content>
