<ion-header no-border>
  <ion-toolbar>
    <ion-title>workout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="main-card" [style.background]="'url(/assets/images/workout/wo1.jpg)'">
    <ion-card-header>
      <ion-card-title>
          <h1>Shape Your <br>Body</h1>
      </ion-card-title>
      <ion-card-subtitle>Start Today</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <h3 class="ion-margin-start">Top Workouts</h3>
  <ion-slides pager="false" [options]="slideOpts2">
    <ion-slide>
        <ion-card [style.background]="'url(/assets/images/workout/wo2.jpg)'">
          <ion-card-header>
            <ion-card-title>
                <h1>Shape Your <br>Body</h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>6 Minute - 42 Calories</ion-card-content>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card [style.background]="'url(/assets/images/workout/wo3.jpg)'">
          <ion-card-header>
            <ion-card-title>
                <h1>Shape Your <br>Body</h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>6 Minute - 42 Calories</ion-card-content>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card [style.background]="'url(/assets/images/workout/wo4.jpg)'">
          <ion-card-header>
            <ion-card-title>
                <h1>Shape Your <br>Body</h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>6 Minute - 42 Calories</ion-card-content>
        </ion-card>
    </ion-slide>
  </ion-slides>
  <h3 class="ion-margin-start">Muscle Gain</h3>
  <ion-slides pager="false" [options]="slideOpts2">
    <ion-slide>
        <ion-card [style.background]="'url(/assets/images/workout/wo5.jpg)'">
          <ion-card-header>
            <ion-card-title>
                <h1>Shape Your <br>Body</h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>6 Minute - 42 Calories</ion-card-content>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card [style.background]="'url(/assets/images/workout/wo1.jpg)'">
          <ion-card-header>
            <ion-card-title>
                <h1>Shape Your <br>Body</h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>6 Minute - 42 Calories</ion-card-content>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card [style.background]="'url(/assets/images/workout/wo2.jpg)'">
          <ion-card-header>
            <ion-card-title>
                <h1>Shape Your <br>Body</h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>6 Minute - 42 Calories</ion-card-content>
        </ion-card>
    </ion-slide>
  </ion-slides>
  <h3 class="ion-margin-start">Weight Lose</h3>
  <ion-slides pager="false" [options]="slideOpts2">
    <ion-slide>
        <ion-card [style.background]="'url(/assets/images/workout/wo3.jpg)'">
          <ion-card-header>
            <ion-card-title>
                <h1>Shape Your <br>Body</h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>6 Minute - 42 Calories</ion-card-content>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card [style.background]="'url(/assets/images/workout/wo4.jpg)'">
          <ion-card-header>
            <ion-card-title>
                <h1>Shape Your <br>Body</h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>6 Minute - 42 Calories</ion-card-content>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card [style.background]="'url(/assets/images/workout/wo5.jpg)'">
          <ion-card-header>
            <ion-card-title>
                <h1>Shape Your <br>Body</h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>6 Minute - 42 Calories</ion-card-content>
        </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>