<ion-content color="primary">
    <div class="ion-text-center ion-padding main-content">
      <p>3/5</p>
      <h1>When you were born?</h1>
      <p>Date of birth will be used to calculate your age on any date - calorie and nutrient needs change with age</p>
    
      <img src="/assets/images/png/dob.png">    </div>
    <div class="bottom-fixed">
      <ion-grid>
        <ion-row><ion-col><ion-button color="light" expand="block" class="started" no-shadow (click)="router.navigate(['/weight']);">Next</ion-button></ion-col></ion-row>
      </ion-grid>
    </div>
  </ion-content>