<ion-header no-border>
  <ion-toolbar>
    <ion-title>Reminders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text  >
<h5 class="ion-margin-start">Active Reminders</h5></ion-text>
<ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon name="flame" size="large" class="theme-color-red"></ion-icon>
        </ion-col>
        <ion-col size="8">
          <ion-card-title>Track Meal</ion-card-title>
          <ion-card-subtitle>2 meals at diffrent times</ion-card-subtitle>
        </ion-col>
        <ion-col class="ion-text-end">
            <ion-icon name="create" size="large" class="theme-color-red"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon name="water" size="large" class="theme-color-blue"></ion-icon>
          </ion-col>
          <ion-col size="8">
            <ion-card-title>Drink Water</ion-card-title>
            <ion-card-subtitle>4 times a day</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end">
              <ion-icon name="create" size="large" class="theme-color-red"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-text  >
      <h5 class="ion-margin-start ion-margin-top ion-padding-top">You can also set</h5></ion-text>
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-icon name="walk" size="large" class="theme-color-orange"></ion-icon>
              </ion-col>
              <ion-col size="8">
                <ion-card-title>Walking Reminder</ion-card-title>
                <ion-card-subtitle>set a reminder</ion-card-subtitle>
              </ion-col>
              <ion-col class="ion-text-end">
                  <ion-icon name="create" size="large" class="theme-color-red"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-icon name="person" size="large" class="theme-color-brown"></ion-icon>
                </ion-col>
                <ion-col size="8">
                  <ion-card-title>Start Workout</ion-card-title>
                  <ion-card-subtitle>set a reminder</ion-card-subtitle>
                </ion-col>
                <ion-col class="ion-text-end">
                    <ion-icon name="create" size="large" class="theme-color-red"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-icon name="speedometer" size="large" class="theme-color-mint"></ion-icon>
                  </ion-col>
                  <ion-col size="8">
                    <ion-card-title>Track your Weight</ion-card-title>
                    <ion-card-subtitle>set a reminder</ion-card-subtitle>
                  </ion-col>
                  <ion-col class="ion-text-end">
                      <ion-icon name="create" size="large" class="theme-color-red"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
</ion-content>
