
  ion-card {
    background-color: white;
  }
  .theme-color-red {
    color: var(--ion-color-themeRed);
  }
  .theme-color-blue {
    color: royalblue;
  }
  .theme-color-orange {
    color: #fa884c;
  }
  .theme-color-brown {
    color: #BC946B;
  }
  .theme-color-mint {
    color: #2FC4D4;
  }