<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-title>Free Credit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="thumb-img"><ion-img src="https://via.placeholder.com/400"></ion-img></div>
    <h1 class="ion-text-center">Send Gift to your friend</h1>
    <p class="ion-margin">Gift 50 rupee to your friend when they sign up using your code. you will get 50 rupee as well</p>
    <h3 class="ion-text-center code-box">GHD56Djh</h3>
    <ion-button color="primary" expand="block" class="ion-margin ion-padding" style="--border-radius:25px">Share</ion-button>
</ion-content>
