<ion-header no-border>
    <ion-toolbar color="primary">
      <ion-title>Before and Afer</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col><div class="image-drop"></div></ion-col>
          <ion-col><div class="image-drop"></div></ion-col>
        </ion-row>
      </ion-grid>
      <h1 class="ion-text-center">Capture your progress</h1>
      <p class="ion-margin">Capture your progress in picture and show the the progress to your friends</p>
      <ion-button color="primary" expand="block" class="ion-margin ion-padding" style="--border-radius:25px">View Process</ion-button>
  </ion-content>
  